@model IdealAkeWms.Models.ViewModels.FaDocumentLinksViewModel
@*
    Einheitliche FA-Vorbau-Dokument-Buttons in fester Reihenfolge/Optik:
      1. read-only BOM-Button (FaCompletion/Bom bzw. FaWorklist/Bom)
      2. enaio-Badges (shared Partial _EnaioDmsBadges, nur wenn EnaioLinks vorhanden)
      3. Vault-Link (nur wenn ArticleNumber vorhanden)
    Wird in FaCompletion/Index, FaWorklist/Index (Listen-Zellen, ShowEnaioLabel=false)
    und FaCompletion/Edit (Kopf, ShowEnaioLabel=true) verwendet.
*@
<span class="fa-doc-links d-inline-flex align-items-center gap-1 flex-wrap">
    <a asp-controller="@Model.BomController" asp-action="Bom" asp-route-id="@Model.ProductionOrderId"
       class="vault-link" title="Stückliste öffnen">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5z"/>
        </svg>
    </a>
    @if (Model.EnaioLinks != null && Model.EnaioLinks.Count > 0)
    {
        @await Html.PartialAsync("_EnaioDmsBadges",
            new IdealAkeWms.Models.ViewModels.EnaioDmsBadgesViewModel(Model.EnaioLinks, showLabel: Model.ShowEnaioLabel))
    }
    @if (!string.IsNullOrEmpty(Model.ArticleNumber))
    {
        <a href="http://akevault24.ake.at/AutodeskTC/AKE-VAULT01/explore?search=@Model.ArticleNumber&searchContext=0"
           target="_blank" title="Zeichnung in Vault öffnen" class="vault-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                <path d="M4.5 12.5A.5.5 0 0 1 5 12h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m0-2A.5.5 0 0 1 5 10h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5m1.639-3.708 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208M6.25 6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5"/>
            </svg>
        </a>
    }
</span>
